<h1>List a Product</h1>

<%= form_for(product, as: product_name, url: sell_path(product_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: product %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true%>
  </div>

  <div class="area">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '50x10', autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autofocus: true%>
  </div>

  <div class="area">
    <%= f.label :tags %><br />
    <%= f.text_area :tags, size: '50x10', autofocus: true%>
  </div>

  <div class="actions">
    <%= f.submit "List Product" %>
  </div>
<% end %>